#container {
    /* margin: 0px auto;
     width: 900px;*/
}
/*Search Button Style */
#search{
    margin-bottom: 18px;      
}
    #search label{
	float: none;	
	font-weight: bolder;
    }
/* Custom Paginator Style */
.cPaginator{
    height: 36px;
    margin-bottom: 18px 0;
}
.pContainer{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    float: right;
    margin: 0;   
    *border-right-color: #ddd;
  /* IE6-7 */
}
    .pContainer a {        
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	line-height: 34px;
	padding: 0 14px;
	text-decoration: none;
	float: left;
	*border-right-color: #ddd;
      /* IE6-7 */
    }
    .pContainer a:hover{
	background-color: #C7EEFE;    
    }
    .pContainer .disabled a, .pContainer .disabled a:hover {
	background-color: transparent;
	color: #BFBFBF;
    }
    .pContainer a.active , .pContainer a.active:hover {
	background-color: #C7EEFE;    
    }
    .pContainer .last a, .pContainer .last a:hover {
	border: none !important;
    }

/*Callback AdminCallBack Style*/
#dateRange {
    border: 0px solid red;
}
    
/*CallBack statPlaceholder style*/
#tooltipContainer{
    display: none;
}
#statPlaceholder {
    margin: 10px auto;  
    width: 760px;
    height: 300px;
    margin-right: 25px;    
    margin-bottom: 20px;
}
.yAxis .tickLabel {   
    padding-right: 10px;    
}
#statPlaceholder table{
    width: 0px !important;
}
#statPlaceholder table td, #statPlaceholder table th{
    padding: 5px 5px 4px;
    background: #f1f1f1;
   
}


/*Extend some bootstrap css*/
.btn:active{
    outline: none !important;
}
.btn:focus{
    outline: none !important;
}
.btn.disabled{
    outline: none !important;
}
.small {
    font-size: 11px !important;
}
.unHighlight{
    color: #BFBFBF;
}
.group:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/*Hacks For Chrome and Safari*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .legend table { 	
	right: 102px !important;
    };	
}